name: Auto-update pre-commit hooks
on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch: # Allow manual triggering

permissions: read-all
jobs:
  autoupdate:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      checks: read
      contents: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install pre-commit
        run: pip install pre-commit
      - name: Auto-update pre-commit hooks
        run: pre-commit autoupdate
      - name: Create Pull Request if changes exist
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "chore: update pre-commit hooks"
          title: "chore: update pre-commit hooks"
          body: "Update pre-commit hooks to their latest versions."
          branch: 'autoupdate-pre-commit-hooks' # Name of the branch to create
          delete-branch: true # Delete the branch after merging
